<a href="https://colab.research.google.com/github/liveusama/DS14_Codes/blob/master/Muhammad_Usama_Hameed_Assigment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Importing drive mount***

In [399]:

from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

# Importing Libaries

In [0]:
#!pip install category_encoders

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder

## Dataset

In [0]:
df=pd.read_csv('gdrive/My Drive/encoding.csv')

In [403]:
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,Theremin,2bb3c3e5c,3a3a936e8,1dddb8473,52ead350c,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,Bassoon,b574c9841,708248125,5ddc9a726,745b909d1,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,Theremin,673bdf1f6,23edb8da3,3a33ef960,bdaa56dd1,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,NaN,777d1ac2c,3a7975e46,bc9cc2a94,NaN,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

# **A code using pandas to unhide all columns.**

In [404]:
pd.set_option('display.max_columns', None)
df.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_0,ord_1,ord_2,ord_3,ord_4,ord_5,day,month,target
0,0,0.0,0.0,0.0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,3.0,Contributor,Hot,c,U,Pw,6.0,3.0,0
1,1,1.0,1.0,0.0,F,Y,Red,Star,Axolotl,NaN,Theremin,2bb3c3e5c,3a3a936e8,1dddb8473,52ead350c,f37df64af,3.0,Grandmaster,Warm,e,X,pE,7.0,7.0,0
2,2,0.0,1.0,0.0,F,N,Red,NaN,Hamster,Canada,Bassoon,b574c9841,708248125,5ddc9a726,745b909d1,NaN,3.0,NaN,Freezing,n,P,eN,5.0,9.0,0
3,3,NaN,0.0,0.0,F,N,Red,Circle,Hamster,Finland,Theremin,673bdf1f6,23edb8da3,3a33ef960,bdaa56dd1,f9d456e57,1.0,Novice,Lava Hot,a,C,NaN,3.0,3.0,0
4,4,0.0,NaN,0.0,T,N,Red,Triangle,Hamster,Costa Rica,NaN,777d1ac2c,3a7975e46,bc9cc2a94,NaN,c5361037c,3.0,Grandmaster,Cold,h,C,OZ,5.0,12.0,0

In [405]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600000 entries, 0 to 599999
Data columns (total 25 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      600000 non-null  int64
 1   bin_0   582106 non-null  float64
 2   bin_1   581997 non-null  float64
 3   bin_2   582070 non-null  float64
 4   bin_3   581986 non-null  object
 5   bin_4   581953 non-null  object
 6   nom_0   581748 non-null  object
 7   nom_1   581844 non-null  object
 8   nom_2   581965 non-null  object
 9   nom_3   581879 non-null  object
 10  nom_4   581965 non-null  object
 11  nom_5   582222 non-null  object
 12  nom_6   581869 non-null  object
 13  nom_7   581997 non-null  object
 14  nom_8   582245 non-null  object
 15  nom_9   581927 non-null  object
 16  ord_0   581712 non-null  float64
 17  ord_1   581959 non-null  object
 18  ord_2   581925 non-null  object
 19  ord_3   582084 non-null  object
 20  ord_4   582070 non-null  object
 21  ord_5   582287 non-null  object
 22  day     582048 non-null  float64
 23  month   582012 non-null  float64
 24  target  600000 non-null  int64
dtypes: float64(6), int64(2), object(17)
memory usage: 114.4+ MB

In [406]:
#check the null value
df.isnull().sum()

id            0
bin_0     17894
bin_1     18003
bin_2     17930
bin_3     18014
bin_4     18047
nom_0     18252
nom_1     18156
nom_2     18035
nom_3     18121
nom_4     18035
nom_5     17778
nom_6     18131
nom_7     18003
nom_8     17755
nom_9     18073
ord_0     18288
ord_1     18041
ord_2     18075
ord_3     17916
ord_4     17930
ord_5     17713
day       17952
month     17988
target        0
dtype: int64

In [407]:
obj_df = df.select_dtypes(include=['object']).copy()
obj_df.head()

,bin_3,bin_4,nom_0,nom_1,nom_2,nom_3,nom_4,nom_5,nom_6,nom_7,nom_8,nom_9,ord_1,ord_2,ord_3,ord_4,ord_5
0,F,N,Red,Trapezoid,Hamster,Russia,Bassoon,de4c57ee2,a64bc7ddf,598080a91,0256c7a4b,02e7c8990,Contributor,Hot,c,U,Pw
1,F,Y,Red,Star,Axolotl,NaN,Theremin,2bb3c3e5c,3a3a936e8,1dddb8473,52ead350c,f37df64af,Grandmaster,Warm,e,X,pE
2,F,N,Red,NaN,Hamster,Canada,Bassoon,b574c9841,708248125,5ddc9a726,745b909d1,NaN,NaN,Freezing,n,P,eN
3,F,N,Red,Circle,Hamster,Finland,Theremin,673bdf1f6,23edb8da3,3a33ef960,bdaa56dd1,f9d456e57,Novice,Lava Hot,a,C,NaN
4,T,N,Red,Triangle,Hamster,Costa Rica,NaN,777d1ac2c,3a7975e46,bc9cc2a94,NaN,c5361037c,Grandmaster,Cold,h,C,OZ

# *Fulfilling binary category variable*

In [408]:
df[["bin_0",	"bin_1", 	"bin_2", "bin_3",	"bin_4"]].isnull().sum()

bin_0    17894
bin_1    18003
bin_2    17930
bin_3    18014
bin_4    18047
dtype: int64

In [0]:
df["bin_0"] = df["bin_0"].fillna(df["bin_0"].value_counts().index[0])

In [0]:
df["bin_1"] = df["bin_1"].fillna(df["bin_1"].value_counts().index[0])

In [0]:
df["bin_2"] = df["bin_2"].fillna(df["bin_2"].value_counts().index[0])

In [0]:
df["bin_3"] = df["bin_3"].fillna(df["bin_3"].value_counts().index[0])

In [0]:
df["bin_4"] = df["bin_4"].fillna(df["bin_4"].value_counts().index[0])

In [0]:
df['bin_3'] = df['bin_3'].replace({'T':1, 'F':0})
df['bin_4'] = df['bin_4'].replace({'Y':1, 'N':0})

# **Dealing with null ordinal category variable**

In [415]:
df[['ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5']].isnull().sum()

ord_0    18288
ord_1    18041
ord_2    18075
ord_3    17916
ord_4    17930
ord_5    17713
dtype: int64

In [416]:
df['ord_0'].value_counts()

1.0    227917
3.0    197798
2.0    155997
Name: ord_0, dtype: int64

In [417]:
df['ord_1'].value_counts()

Novice         160597
Expert         139677
Contributor    109821
Grandmaster     95866
Master          75998
Name: ord_1, dtype: int64

In [418]:
df['ord_2'].value_counts()

Freezing       142726
Warm           124239
Cold            97822
Boiling Hot     84790
Hot             67508
Lava Hot        64840
Name: ord_2, dtype: int64

In [419]:
df['ord_3'].value_counts()

n    70982
a    65321
m    57980
c    56675
h    55744
o    45464
b    44795
e    38904
k    38718
i    34763
d    30634
f    29450
g     6180
j     3639
l     2835
Name: ord_3, dtype: int64

In [420]:
df['ord_4'].value_counts()

N    39978
P    37890
Y    36657
A    36633
R    33045
U    32897
M    32504
X    32347
C    32112
H    31189
Q    30145
T    29723
O    25610
B    25212
E    21871
K    21676
I    19805
D    17284
F    16721
W     8268
Z     5790
S     4595
G     3404
V     3107
J     1950
L     1657
Name: ord_4, dtype: int64

In [421]:
df['ord_5'].value_counts()

Fl    10562
DN     9527
Sz     8654
RV     5648
oJ     5596
      ...
vw      189
gV      124
vQ      120
eA       91
Zv       87
Name: ord_5, Length: 190, dtype: int64

In [0]:
df["ord_0"] = df["ord_0"].fillna(df["ord_0"].value_counts().index[0])

In [0]:
df["ord_1"] = df["ord_1"].fillna(df["ord_1"].value_counts().index[0])

In [0]:
df["ord_2"] = df["ord_2"].fillna(df["ord_2"].value_counts().index[0])

In [0]:
df["ord_3"] = df["ord_3"].fillna(df["ord_3"].value_counts().index[0])

In [0]:
df["ord_4"] = df["ord_4"].fillna(df["ord_4"].value_counts().index[0])

In [0]:
df["ord_5"] = df["ord_5"].fillna(df["ord_5"].value_counts().index[0])

In [428]:
df[['ord_0', 'ord_1', 'ord_2', 'ord_3', 'ord_4', 'ord_5']].isnull().sum()

ord_0    0
ord_1    0
ord_2    0
ord_3    0
ord_4    0
ord_5    0
dtype: int64

In [0]:
ord_1 = {"Novice":1,"Expert":3,"Contributor":2,"Grandmaster":5,"Master":4}
# apply using map
df['ord_1'] = df.ord_1.map(ord_1)

In [0]:
# create dictionary of ordinal to integer mapping
ord_2 = {'Freezing':1, 
            'Cold':2, 
            'Warm':3, 
            'Hot':4, 
            'Boiling Hot':5, 
            'Lava Hot':6}
# apply using map
df['ord_2'] = df.ord_2.map(ord_2)

In [0]:
#
ord_3 = {'a':1, 'b':2, 'c':3, 'd':4, 'e':5, 'f':6, 'g':7,'h':8, 'i':9, 'j':10, 'k':11, 'l':12, 'm':13, 'n':14, 'o':15}
df['ord_3'] = df.ord_3.map(ord_3)

In [0]:
L = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I','J', 'K', 'L', 'M', 'N', 'O','P', 'Q', 'R','S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']
ord_4_ = {}
for i , val in enumerate(L):
  ord_4 = {val:i}
  ord_4_.update(ord_4)
#print(ord_4_)
df['ord_4'] = df.ord_4.map(ord_4_)

In [433]:
fe = df['ord_5'].value_counts(ascending=True)/len(df)  #count the relative frequency
df['ord_5_'] = df['ord_5'].map(fe) #map with fe
df.drop('ord_5',axis=1,inplace=True)
df["ord_5_"].head(10)

0    0.007613
1    0.007155
2    0.005150
3    0.047125
4    0.007608
5    0.007362
6    0.007395
7    0.009078
8    0.002170
9    0.007608
Name: ord_5_, dtype: float64

In [434]:
'''fe = df['ord_3'].value_counts(ascending=True)/len(df)  #count the relative frequency
df['ord_3_'] = df['ord_3'].map(fe) #map with fe
df.drop('ord_3',axis=1,inplace=True)
df["ord_3_"].head(10)'''

'fe = df[\'ord_3\'].value_counts(ascending=True)/len(df)  #count the relative frequency\ndf[\'ord_3_\'] = df[\'ord_3\'].map(fe) #map with fe\ndf.drop(\'ord_3\',axis=1,inplace=True)\ndf["ord_3_"].head(10)'

In [435]:
'''fe = df['ord_4'].value_counts(ascending=True)/len(df)  #count the relative frequency
df['ord_4_'] = df['ord_4'].map(fe) #map with fe
df.drop('ord_4',axis=1,inplace=True)
df["ord_4_"].head(10)'''

'fe = df[\'ord_4\'].value_counts(ascending=True)/len(df)  #count the relative frequency\ndf[\'ord_4_\'] = df[\'ord_4\'].map(fe) #map with fe\ndf.drop(\'ord_4\',axis=1,inplace=True)\ndf["ord_4_"].head(10)'

In [0]:
#df['Levels']= ["Novice","Expert","Contributor","Grandmaster","Master"]

In [437]:
'''import category_encoders as ce #create instance of category_encoders
encoder = ce.BinaryEncoder(cols= ["Novice",
"Expert",
"Contributor",
"Grandmaster",
"Master"
])        #create instance of binary enocder
df_t = encoder.fit_transform(c_col)
df_t.head(5) '''

'import category_encoders as ce #create instance of category_encoders\nencoder = ce.BinaryEncoder(cols= ["Novice",\n"Expert",\n"Contributor",\n"Grandmaster",\n"Master"\n])        #create instance of binary enocder\ndf_t = encoder.fit_transform(c_col)\ndf_t.head(5) '

In [438]:
 '''df_encoded.ord_2.replace(to_replace = ['Freezing', 'Cold', 'Warm', 'Hot','Boiling Hot', 'Lava Hot'],
                         value = [0, 1, 2, 3, 4, 5], inplace = True)

    df_encoded.ord_3.replace(to_replace = ['a', 'b', 'c', 'd', 'e', 'f', 'g','h', 'i', 'j', 'k', 'l', 'm', 'n', 'o'],
                         value = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], inplace = True)

    df_encoded.ord_4.replace(to_replace = ,
                         value = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 
                                  22, 23, 24, 25], inplace = True)'''

"df_encoded.ord_2.replace(to_replace = ['Freezing', 'Cold', 'Warm', 'Hot','Boiling Hot', 'Lava Hot'],\n                        value = [0, 1, 2, 3, 4, 5], inplace = True)\n\n   df_encoded.ord_3.replace(to_replace = ['a', 'b', 'c', 'd', 'e', 'f', 'g','h', 'i', 'j', 'k', 'l', 'm', 'n', 'o'],\n                        value = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14], inplace = True)\n\n   df_encoded.ord_4.replace(to_replace = ,\n                        value = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, \n                                 22, 23, 24, 25], inplace = True)"

# **Dealing with null value of day and months**

In [439]:
df["day"].isnull().sum()

17952

In [440]:
df["day"].value_counts()

3.0    113835
5.0    110464
6.0     97432
7.0     86435
1.0     84724
2.0     65495
4.0     23663
Name: day, dtype: int64

In [441]:
df["month"].isnull().sum()

17988

In [442]:
df["month"].value_counts()

8.0     79245
3.0     70160
5.0     68906
12.0    68340
6.0     60478
7.0     53480
1.0     52154
11.0    51165
2.0     40700
9.0     20620
4.0     14614
10.0     2150
Name: month, dtype: int64

In [0]:
df["day"] = df["day"].fillna(df["day"].value_counts().index[0])

In [0]:
df["month"] = df["month"].fillna(df["month"].value_counts().index[0])

# **Dealing with Normail Variable**

In [445]:
df["nom_0"].value_counts()

Red      323286
Blue     205861
Green     52601
Name: nom_0, dtype: int64

In [446]:
df["nom_1"].value_counts()

Triangle     164190
Polygon      152563
Trapezoid    119438
Circle       104995
Square        26503
Star          14155
Name: nom_1, dtype: int64

In [447]:
df["nom_2"].value_counts()

Hamster    164897
Axolotl    152319
Lion       119504
Dog        104825
Cat         26276
Snake       14144
Name: nom_2, dtype: int64

In [448]:
df["nom_3"].value_counts()

India         164869
Costa Rica    151827
Russia        119840
Finland       104601
Canada         26425
China          14317
Name: nom_3, dtype: int64

In [449]:
df["nom_4"].value_counts()

Theremin    308621
Bassoon     196639
Oboe         49996
Piano        26709
Name: nom_4, dtype: int64

In [450]:
df["nom_5"].value_counts()

fc8fc7e56    977
360a16627    972
423976253    961
7917d446c    961
879c2ed83    960
            ...
7335087fd      5
30019ce8a      3
0385d0739      1
d6bb2181a      1
b3ad70fcb      1
Name: nom_5, Length: 1220, dtype: int64

In [0]:
df["nom_1"]= df["nom_1"].fillna(df["nom_1"].value_counts().index[0])

In [0]:
df["nom_2"]= df["nom_2"].fillna(df["nom_2"].value_counts().index[0])

In [0]:
df["nom_3"]= df["nom_3"].fillna(df["nom_3"].value_counts().index[0])

In [0]:
df["nom_4"]= df["nom_4"].fillna(df["nom_4"].value_counts().index[0])

In [0]:
df["nom_5"]= df["nom_5"].fillna(df["nom_5"].value_counts().index[0])

In [0]:
df["nom_6"]= df["nom_6"].fillna(df["nom_6"].value_counts().index[0])

In [0]:
df["nom_7"]= df["nom_7"].fillna(df["nom_7"].value_counts().index[0])

In [0]:
df["nom_8"]= df["nom_8"].fillna(df["nom_8"].value_counts().index[0])

In [0]:
df["nom_9"]= df["nom_9"].fillna(df["nom_9"].value_counts().index[0])

In [0]:
#df = pd.get_dummies(df["nom_0"])
df_nom1 = pd.get_dummies(df["nom_0"],drop_first=True)
df1 = pd.concat([df, df_nom1] , axis=1)
df1 = df1.drop('nom_0' , axis=1)

In [461]:
fe = df1["nom_1"].value_counts(ascending=True)/len(df1)  #count the relative frequency
df1["nom_1_"] = df1["nom_1"].map(fe) #map with fe
df1.drop('nom_1',axis=1,inplace=True)
df1["nom_1_"].head(10)

0    0.199063
1    0.023592
2    0.303910
3    0.174992
4    0.303910
5    0.303910
6    0.303910
7    0.303910
8    0.254272
9    0.254272
Name: nom_1_, dtype: float64

In [462]:
fe = df1["nom_2"].value_counts(ascending=True)/len(df1)  #count the relative frequency
df1["nom_2_"] = df1["nom_2"].map(fe) #map with fe
df1.drop('nom_2',axis=1,inplace=True)
df1["nom_2_"].head(10)

0    0.304887
1    0.253865
2    0.304887
3    0.304887
4    0.304887
5    0.199173
6    0.304887
7    0.253865
8    0.304887
9    0.304887
Name: nom_2_, dtype: float64

In [463]:
fe = df1["nom_3"].value_counts(ascending=True)/len(df)  #count the relative frequency
df1["nom_3_"] = df1["nom_3"].map(fe) #map with fe
df1.drop('nom_3',axis=1,inplace=True)
df1["nom_3_"].head(10)

0    0.199733
1    0.304983
2    0.044042
3    0.174335
4    0.253045
5    0.023862
6    0.253045
7    0.174335
8    0.199733
9    0.174335
Name: nom_3_, dtype: float64

In [464]:
fe = df1["nom_4"].value_counts(ascending=True)/len(df1)  #count the relative frequency
df1["nom_4_"] = df1["nom_4"].map(fe) #map with fe
df1.drop('nom_4',axis=1,inplace=True)
df1["nom_4_"].head(10)

0    0.327732
1    0.544427
2    0.327732
3    0.544427
4    0.544427
5    0.327732
6    0.327732
7    0.327732
8    0.083327
9    0.544427
Name: nom_4_, dtype: float64

In [465]:
fe = df1["nom_5"].value_counts(ascending=True)/len(df1)  #count the relative frequency
df1["nom_5_"] = df1["nom_5"].map(fe) #map with fe
df1.drop('nom_5',axis=1,inplace=True)
df1["nom_5_"].head(10)

0    0.000683
1    0.001230
2    0.001195
3    0.000997
4    0.001373
5    0.001493
6    0.001543
7    0.001405
8    0.001308
9    0.001448
Name: nom_5_, dtype: float64

In [466]:
fe = df1["nom_6"].value_counts(ascending=True)/len(df1)  #count the relative frequency
df1["nom_6_"] = df1["nom_6"].map(fe) #map with fe
df1.drop('nom_6',axis=1,inplace=True)
df1["nom_6_"].head(10)

0    0.000197
1    0.000730
2    0.001120
3    0.000983
4    0.000422
5    0.001117
6    0.000733
7    0.001005
8    0.001213
9    0.000933
Name: nom_6_, dtype: float64

In [467]:
fe = df1["nom_7"].value_counts(ascending=True)/len(df1)  #count the relative frequency
df1["nom_7_"] = df1["nom_7"].map(fe) #map with fe
df1.drop('nom_7',axis=1,inplace=True)
df1["nom_7_"].head(10)

0    0.003130
1    0.007945
2    0.005557
3    0.005155
4    0.007503
5    0.002005
6    0.003353
7    0.007918
8    0.008148
9    0.004875
Name: nom_7_, dtype: float64

In [468]:
fe = df1["nom_8"].value_counts(ascending=True)/len(df1)  #count the relative frequency
df1["nom_8_"] = df1["nom_8"].map(fe) #map with fe
df1.drop('nom_8',axis=1,inplace=True)
df1["nom_8_"].head(10)

0    0.002672
1    0.004798
2    0.007155
3    0.003675
4    0.038012
5    0.007670
6    0.004575
7    0.004430
8    0.002908
9    0.000935
Name: nom_8_, dtype: float64

In [469]:
fe = df1["nom_9"].value_counts(ascending=True)/len(df1)  #count the relative frequency
df1["nom_9_"] = df1["nom_9"].map(fe) #map with fe
df1.drop('nom_9',axis=1,inplace=True)
df1["nom_9_"].head(10)

0    0.000345
1    0.000883
2    0.031063
3    0.000248
4    0.000933
5    0.000668
6    0.000785
7    0.000577
8    0.031063
9    0.000755
Name: nom_9_, dtype: float64

In [470]:
df1.head()

,id,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,ord_4,day,month,target,ord_5_,Green,Red,nom_1_,nom_2_,nom_3_,nom_4_,nom_5_,nom_6_,nom_7_,nom_8_,nom_9_
0,0,0.0,0.0,0.0,0,0,3.0,2,4,3,20,6.0,3.0,0,0.007613,0,1,0.199063,0.304887,0.199733,0.327732,0.000683,0.000197,0.003130,0.002672,0.000345
1,1,1.0,1.0,0.0,0,1,3.0,5,3,5,23,7.0,7.0,0,0.007155,0,1,0.023592,0.253865,0.304983,0.544427,0.001230,0.000730,0.007945,0.004798,0.000883
2,2,0.0,1.0,0.0,0,0,3.0,1,1,14,15,5.0,9.0,0,0.005150,0,1,0.303910,0.304887,0.044042,0.327732,0.001195,0.001120,0.005557,0.007155,0.031063
3,3,0.0,0.0,0.0,0,0,1.0,1,6,1,2,3.0,3.0,0,0.047125,0,1,0.174992,0.304887,0.174335,0.544427,0.000997,0.000983,0.005155,0.003675,0.000248
4,4,0.0,0.0,0.0,1,0,3.0,5,2,8,2,5.0,12.0,0,0.007608,0,1,0.303910,0.304887,0.253045,0.544427,0.001373,0.000422,0.007503,0.038012,0.000933

# **MODEL Selection plus training and testing split**

In [0]:
y = df1['target']   #dependent variables
X = df1.drop(['target','id'],axis=1)

In [472]:
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train,Y_test = train_test_split(X,y,test_size=0.2,random_state=42) 
print(X_train.shape,Y_train.shape)
print(X_test.shape,Y_test.shape)

(480000, 24) (480000,)
(120000, 24) (120000,)

# **Feature Scaling**

In [493]:
X_train.describe()

,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,ord_4,day,month,ord_5_,Green,Red,nom_1_,nom_2_,nom_3_,nom_4_,nom_5_,nom_6_,nom_7_,nom_8_,nom_9_
count,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000
mean,0.089467,0.179898,0.270077,0.360315,0.448473,1.920587,2.668304,3.017942,7.992410,12.333069,4.079729,6.420115,0.008679,0.087483,0.539348,0.229795,0.230052,0.229829,0.412666,0.001994,0.001805,0.006921,0.006889,0.001532
std,0.285416,0.384103,0.444000,0.480092,0.497338,0.856336,1.424441,1.697983,4.918388,7.436398,2.012671,3.418287,0.008908,0.282542,0.498450,0.071146,0.071428,0.071465,0.163918,0.005266,0.005364,0.006575,0.006458,0.005300
min,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,0.000145,0.000000,0.000000,0.023592,0.023573,0.023862,0.044515,0.000002,0.000002,0.000132,0.000102,0.000002
25%,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000,1.000000,3.000000,6.000000,2.000000,3.000000,0.005385,0.000000,0.000000,0.199063,0.199173,0.199733,0.327732,0.000795,0.000642,0.004310,0.004325,0.000450
50%,0.000000,0.000000,0.000000,0.000000,0.000000,2.000000,3.000000,3.000000,8.000000,13.000000,4.000000,6.000000,0.007270,0.000000,1.000000,0.254272,0.253865,0.253045,0.544427,0.001127,0.000907,0.006250,0.006247,0.000627
75%,0.000000,0.000000,1.000000,1.000000,1.000000,3.000000,4.000000,4.000000,13.000000,18.000000,6.000000,8.000000,0.008388,0.000000,1.000000,0.303910,0.304887,0.304983,0.544427,0.001380,0.001100,0.007520,0.007557,0.000767
max,1.000000,1.000000,1.000000,1.000000,1.000000,3.000000,5.000000,6.000000,15.000000,25.000000,7.000000,12.000000,0.047125,1.000000,1.000000,0.303910,0.304887,0.304983,0.544427,0.031258,0.031560,0.038397,0.038012,0.031063

In [0]:
cols = X_train.columns

In [0]:

from sklearn.preprocessing import MinMaxScaler

scaler = MinMaxScaler()

X_train = scaler.fit_transform(X_train)

X_test = scaler.transform(X_test)

In [0]:
X_train = pd.DataFrame(X_train, columns=[cols])

In [0]:

X_test = pd.DataFrame(X_test, columns=[cols])

In [498]:

X_train.describe()

,bin_0,bin_1,bin_2,bin_3,bin_4,ord_0,ord_1,ord_2,ord_3,ord_4,day,month,ord_5_,Green,Red,nom_1_,nom_2_,nom_3_,nom_4_,nom_5_,nom_6_,nom_7_,nom_8_,nom_9_
count,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000,480000.000000
mean,0.089467,0.179898,0.270077,0.360315,0.448473,0.460294,0.417076,0.403588,0.499458,0.493323,0.513288,0.492738,0.181642,0.087483,0.539348,0.735604,0.733981,0.732664,0.736432,0.063752,0.057142,0.177428,0.179046,0.049281
std,0.285416,0.384103,0.444000,0.480092,0.497338,0.428168,0.356110,0.339597,0.351313,0.297456,0.335445,0.310753,0.189622,0.282542,0.498450,0.253804,0.253908,0.254214,0.327894,0.168468,0.169971,0.171836,0.170355,0.170614
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.142857,0.240000,0.166667,0.181818,0.111537,0.000000,0.000000,0.625973,0.624215,0.625607,0.566533,0.025381,0.020280,0.109195,0.111404,0.014434
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.500000,0.500000,0.400000,0.500000,0.520000,0.500000,0.454545,0.151660,0.000000,1.000000,0.822922,0.818630,0.815246,1.000000,0.035992,0.028677,0.159894,0.162094,0.020121
75%,0.000000,0.000000,1.000000,1.000000,1.000000,1.000000,0.750000,0.600000,0.857143,0.720000,0.833333,0.636364,0.175465,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.044097,0.034803,0.193083,0.196650,0.024628
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [499]:
#fit the regression model 
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(X_train,Y_train)
predict = model.predict(X_test)
model.score(X_test,Y_test)

0.08953150681417499

In [500]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import classification_report, confusion_matrix
model = LogisticRegression(solver='liblinear', C=10.0, random_state=0)
model.fit(X_train,Y_train)

# Step 4: Evaluate the model
#p_pred = model.predict_proba(X_test)
#y_pred = model.predict(X_t)
model.score(X_test,Y_test)
#conf_m = confusion_matrix(y, y_pred)
#report = classification_report(y, y_pred)

0.8161583333333333

In [501]:
print('Training set score: {:.4f}'.format(model.score(X_train, Y_train)))

print('Test set score: {:.4f}'.format(model.score(X_test, Y_test)))

Training set score: 0.8146
Test set score: 0.8162

In [502]:

y_pred_test = model.predict(X_test)
y_pred_test

array([0, 0, 0, ..., 0, 0, 0])

In [503]:
#seed for random state and splits - number of Kfolds
random_seed = 1
splits = 5
from sklearn import model_selection
#Scikit Kfold model call
kfold = model_selection.KFold(n_splits=splits,random_state=random_seed)
#Logistic Regression Model
model = LogisticRegression()
#results set equal to model with kfolds
results = model_selection.cross_val_score(model, X_train, Y_train,cv=kfold)
#printing the averaged score over the 5 Kfolds
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:296: FutureWarning: Setting a random_state has no effect since shuffle is False. This will raise an error in 0.24. You should leave random_state to its default (None), or set shuffle=True.
  FutureWarning

Accuracy: 81.463% (0.036%)

In [504]:
print("Accuracy: %.3f%% (%.3f%%)" % (results.mean()*100.0, results.std()*100.0))

Accuracy: 81.463% (0.036%)

In [505]:

# check class distribution in test set

Y_test.value_counts()

0    97640
1    22360
Name: target, dtype: int64

In [506]:
# check null accuracy score

null_accuracy = (97640/(97640+22360))

print('Null accuracy score: {0:0.4f}'. format(null_accuracy))

Null accuracy score: 0.8137

In [507]:
# Print the Confusion Matrix and slice it into four pieces

from sklearn.metrics import confusion_matrix

cm = confusion_matrix(Y_test, y_pred_test)

print('Confusion matrix\n\n', cm)

print('\nTrue Positives(TP) = ', cm[0,0])

print('\nTrue Negatives(TN) = ', cm[1,1])

print('\nFalse Positives(FP) = ', cm[0,1])

print('\nFalse Negatives(FN) = ', cm[1,0])

Confusion matrix

 [[96375  1265]
 [20796  1564]]

True Positives(TP) =  96375

True Negatives(TN) =  1564

False Positives(FP) =  1265

False Negatives(FN) =  20796

In [508]:
from sklearn.metrics import classification_report

print(classification_report(Y_test, y_pred_test))

              precision    recall  f1-score   support

           0       0.82      0.99      0.90     97640
           1       0.55      0.07      0.12     22360

    accuracy                           0.82    120000
   macro avg       0.69      0.53      0.51    120000
weighted avg       0.77      0.82      0.75    120000